# Ignore temporary files from IDE
.idea
.vscode
*.suo
*.ntvs*
*.ncb
*.sdf
*.suo
*.sln.doc
*.sln.tmp
*.user
*.cache

# Ignore all .env files
*.env
# Ignore html project
eruditio/html/*
eruditio/html/index.php
# Ignore Prefect files
prefect/src/*
